<div class="h-screen md:h-auto flex-1 flex flex-col overflow-hidden md:block md:overflow-auto">
	<div class="ribbon flex">
		<div class="page-title md:ml-2">{{'user' | translate}}</div>
	</div>
	<div *ngIf="model" class="flex-1 overflow-x-hidden overflow-y-auto p-4">
		<form class="" (ngSubmit)="onSubmit(myForm.controls)" #myForm="ngForm">
			<div class="form-group">
				<div class="md:w-1/6">
					<label>{{'access.right' | translate}}</label>
				</div>
				<div class="md:w-5/6">
					<select class="form-select" [(ngModel)]="model.role" name="idRole" required [disabled]="mySelf">
						<option value=""></option>
						<option *ngFor="let item of lstRole" [value]="item.name">{{item.name}}</option>
					</select>
					<div *ngIf="formErrors.idRole" class="validation-message">{{ formErrors.idRole.key | translate:formErrors.idRole.param}}</div>
				</div>
			</div>
			<div class="form-group">
				<div class="md:w-1/6">
					<label>{{'user.name' | translate}}</label>
				</div>
				<div class="md:w-5/6">
					<input class="form-input" [(ngModel)]="model.username" name="username" required maxlength="255" minlength="4" [disabled]="!insertMode">
					<div *ngIf="formErrors.username" class="validation-message">{{ formErrors.username.key | translate:formErrors.username.param }}</div>
				</div>
			</div>
			<div class="form-group">
				<div class="md:w-1/6">
					<label>{{'email' | translate}}</label>
				</div>
				<div class="md:w-5/6">
					<input class="form-input" [(ngModel)]="model.email" name="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" maxlength="255" required>
					<div *ngIf="formErrors.email" class="validation-message">{{ formErrors.email.key | translate:formErrors.email.param }}</div>
				</div>
			</div>
			<hr>
			<div *ngIf="!insertMode" class="form-group">
				<span class="text-sm text-gray-500">{{'leave.password.empty' | translate}}</span>
				<br>
				<span *ngIf="model.username == 'hellocountry'" class="label label-info"><span style="color:red;">* </span>{{'hellocountry.user.cannot.change.the.password' | translate}}</span>
			</div>
			<div class="form-group">
				<div class="md:w-1/6">
					<label>{{'password' | translate}}</label>
				</div>
				<div class="md:w-5/6">
					<input [disabled]="model.username == 'hellocountry'" type="password" class="form-input" [(ngModel)]="model.password" name="password" [required]="insertMode" maxlength="25" minlength="4">
					<div *ngIf="formErrors.password" class="validation-message">{{ formErrors.password.key | translate:formErrors.password.param}}</div>
				</div>
			</div>
			<div class="form-group">
				<div class="md:w-1/6">
					<label>{{'retype.password' | translate}}</label>
				</div>
				<div class="md:w-5/6">
					<input [disabled]="model.username == 'hellocountry'" type="password" class="form-input" [(ngModel)]="password2" name="password2" [required]="insertMode" maxlength="25" minlength="4">
					<div *ngIf="formErrors.password2" class="validation-message">{{ formErrors.password2.key | translate:formErrors.password2.param}}</div>
				</div>
			</div>

			<div class="form-group">
				<div class="md:w-1/6">
					<label class="">Foto Profil</label>
				</div>
				<div class="md:w-5/6">
					<div class="flex">
						<label for="fileInput">
							<img style="max-width:300px;" [src]="picUrl">
						</label>
						<button type="button" class="btn btn-sm text-red-500 border-none" title="Hapus" (click)="deleteAsset()"><i class="icon-trash-empty"></i></button>
						<br />
						<input id="fileInput" type='file' (change)="onSelectFile($event)" hidden>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="md:w-1/6">
					<label class="">KTP</label>
				</div>
				<div class="">
					<div class="flex">
						<label for="fileInput2">
							<img style="max-width:300px;" [src]="ktpUrl">
						</label>
						<button type="button" class="btn btn-sm text-red-500 border-none" title="Hapus" (click)="deleteAsset('ktp')"><i class="icon-trash-empty"></i></button>
						<br />
						<input id="fileInput2" type='file' (change)="onSelectFile($event, 'ktp')" hidden>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="md:w-1/6">
					<label>Asset</label>
				</div>
				<div class="md:w-5/6">
					<cmp-asset-manager [assetManager]="assetManager"></cmp-asset-manager>
				</div>
			</div>

			<div class="form-group">
				<div class="">
					<button type="submit" class="btn btn-default" [disabled]="!myForm.form.valid || saving">{{'save' | translate}}</button>
					<a *ngIf="!profileMode" class="btn btn-default ml-2" routerLink="../">{{'back' | translate}}</a>
				</div>
			</div>
		</form>
	</div>
</div>