<div class="p-3 rounded-lg bg-gray-100">


<div class="flex">
	<div class="flex-grow">
		<div>
			<h2 class="text-lg text-blue-400">{{'access.right' | translate}}</h2>
		</div>
	</div>
</div>

<div *ngIf="model" class="mt-10">
	<form (ngSubmit)="onSubmit(myForm.controls)" #myForm="ngForm">
		<mat-form-field>
			<mat-label>{{'access.right.name' | translate}}</mat-label>
			<input matInput name="name" required maxlength="20" minlength="4" [disabled]="model.id>0" [(ngModel)]="model.name">
			<mat-error>{{ formErrors.name?.key | translate:formErrors.name?.param}}</mat-error>
		</mat-form-field>
		<mat-form-field class="ml-5 w-1/2">
			<mat-label>{{'access.right.desc' | translate}}</mat-label>
			<input matInput [(ngModel)]="model.description" name="description" required maxlength="255" minlength="4">
			<mat-error>{{ formErrors.description?.key | translate:formErrors.description?.param}}</mat-error>
		</mat-form-field>
		<div class="text-xs" style="color: rgba(0,0,0,.54);">{{'lst.permission' | translate}}</div>
		<div class="card-body">
			<table class="ml-5">
				<tbody>
					<tr *ngFor="let item of model.permissionList" class="hoverDiv">
						<td class="p-1">
							<mat-checkbox [(ngModel)]="item.selected" [ngModelOptions]="{standalone: true}">{{item.permission}}</mat-checkbox>
						</td>
						<td class="py-1 pl-5">
							{{item.description}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="mt-10 flex">
			<button mat-raised-button color="primary" [disabled]="!myForm.form.valid" (click)="onSubmit()">{{'save' | translate}}</button>
			<div class="ml-3"><a type="button" mat-button class="ml-5" routerLink="../">{{'back' | translate}}</a></div>
		</div>
	</form>
</div>
</div>