.alert {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 2rem;
	width: 83.333333%;
	max-width: 36rem;
	font-size: 0.875rem;
}

@screen md {
	.alert {
		@apply w-full;
	}
}

.alert-danger {
	@apply bg-red-100 text-red-700;
}

.alert-success {
	@apply bg-green-100 text-green-700;
}

.alert-info {
	@apply bg-blue-100 text-blue-700;
}

.alert-warning {
	@apply bg-yellow-100 text-yellow-700;
}