<div class="">
	<div class="text-xs text-gray-500">
		Klik tombol "Tambah Gambar", pilih file gambar lalu masukkan keterangan. File
		diupload setelah mengklik tombol "Simpan" di bagian bawah halaman ini.
	</div>
	<div appDragDrop (onFileDropped)="addNewAssets($event)">
		<label class="btn btn-default col-md-2">
				<i class="fa fa-plus"></i> Tambah Gambar<input class="form-control" type="file" (change)="addNewAssets($event.target.files)" hidden multiple>
		</label>
		<div class="col-md-10">
				<table class="table no-shadow">
			<thead>
				<tr>
					<th>File <span class="label-desc">Klik untuk download</span></th>
					<th>Ukuran</th>
					<th>Keterangan</th>
					<th *ngIf="!readonly">Hapus</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let asset of assetManager.persistedAssets; let rowNum=index">
					<td><a href="{{apiUrl}}asset/{{asset.category}}/{{asset.path}}?id={{asset.id}}"
							target="blank">{{asset.filename}}</a></td>
					<td>
						{{asset.size | fileSize}}
					</td>
					<td>
						<input type="text" class="form-control" placeholder="Masukkan keterangan"
							[(ngModel)]="asset.description" maxlength="1000" [readOnly]="readonly">
					</td>
					<td *ngIf="!readonly" class="text-center">
						<button type="button" class="btn bg-transparent text-danger" title="Hapus"
							(click)="markDeleteAsset(asset)"><i class="icon-trash-empty"></i></button>
					</td>
				</tr>
				<tr *ngFor="let item of assetManager.assetsToUpload; let rowNum=index">
					<td>
						<span *ngIf="item.file"> {{item.file.name}}</span>
					</td>
					<td>{{item.file ? (item.file.size | fileSize) : '' }}</td>
					<td><input type="text" class="form-control" maxlength="1000"
							placeholder="Masukkan keterangan" [(ngModel)]="item.description">
					</td>
					<td class="text-center"><button type="button" class="btn bg-transparent text-danger"
							title="Hapus" (click)="deleteUnsavedAsset(item)"><i
								class="icon-trash-empty"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	</div>
</div>