<h2 mat-dialog-title>Mohon Tunggu...</h2>
<mat-dialog-content>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					{{progressInfo.message}}
				</div>
			</div>
			<div class="progress">
				<div #progressBar class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
					aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width]="progressInfo.progress + '%'">
					{{progressInfo.progress}} %
				</div>
			</div>
		</div>
	</div>
</mat-dialog-content>
<div mat-dialog-actions></div>