<h2 mat-dialog-title [class]="titleClass">
		<i [class]="titleIcon"></i>
	{{data.title}}
</h2>
<div mat-dialog-content>
	<p class="mb-4" [innerHtml]="data.content"></p>
</div>
<div mat-dialog-actions>
  <button (click)="close('yes')" cdkFocusInitial  class="btn btn-default mr-2">{{data.yesLabel}}</button>
  <button *ngIf="data.noLabel" (click)="close('no')"  class="btn btn-default mr-2">{{data.noLabel}}</button>
  <button *ngIf="data.cancelLabel" (click)="close('cancel')"  class="btn btn-default">{{data.cancelLabel}}</button>
</div>