
.pnlTableConfig {
	/*background-color: rgba(255,255,255,0.2);*/
	/*border-radius: 5px;*/
	padding: 10px;
}
.pnlTableConfig>div>div:nth-child(1) {
	padding-right: 10px;
}
ul {
	list-style: none;
	height: 200px;
	overflow: auto;
	padding: 2px 20px 2px 2px;
	border: 1px solid rgba(0,0,0,0.2);
}

li {
	white-space: nowrap;
}

.selected {
	background-color: rgba(0,0,0,0.1);
}

/* label {
	margin: 0;
	font-weight: normal;
} */
