<div class="p-3 rounded-lg bg-gray-100">


<div class="flex">
	<div class="flex-grow">
		<div>
			<h2 class="text-lg text-blue-400">{{'utility' | translate}}</h2>
		</div>
	</div>
</div>

<div class="mt-10 grid gap-3 grid-cols-2">
	<div class="rounded shadow-md p-3 bg-white">
		<h2 class="text-sm font-bold mb-3" >{{'request.indicator' | translate}}</h2>
		<button *ngIf="requestIndicatorClicked == false" (click)="showRequestIndicator()" mat-stroked-button>{{'show' | translate}}</button>
		<button *ngIf="requestIndicatorClicked == true" (click)="hideRequestIndicator()" mat-stroked-button>{{'hide' | translate}}</button>
	</div>

	<div class="rounded shadow-md p-3 bg-white">
		<h2 class="text-sm font-bold mb-3">{{'alert.controller' | translate}} bcd</h2>
		<div class="grid gap-1 grid-cols-2">
			<button mat-stroked-button (click)="showAlertSuccess()">{{'show.alert.success' | translate}}</button>
			<button mat-stroked-button (click)="showAlertDanger()">{{'show.alert.danger' | translate}}</button>
			<button mat-stroked-button (click)="showAlertWarning()">{{'show.alert.warning' | translate}}</button>
			<button (click)="showAlertInfo()" mat-stroked-button>{{'show.alert.info' | translate}}</button>
		</div>
	</div>

	<div class="rounded shadow-md p-3 bg-white">
		<h2 class="text-sm font-bold mb-3">{{'error.handling' | translate}}</h2>
		<div class="grid gap-1 grid-cols-2">
			<button (click)="errorNoParam()" mat-stroked-button>{{'error.no.param' | translate}}</button>
			<button (click)="errorWithParam()" mat-stroked-button>{{'error.with.param' | translate}}</button>
			<button (click)="unexpectedError()" mat-stroked-button>{{'unexpected.error' | translate}}</button>
			<button (click)="unauthorizedError()" mat-stroked-button>{{'unauthorized.error' | translate}}</button>
		</div>
	</div>

	<div class="rounded shadow-md p-3 bg-white">
		<h2 class="text-sm font-bold mb-3">{{'popup.dialog' | translate}}</h2>
		<div class="grid gap-1 grid-cols-2">
			<button class="btn btn-default col1" (click)="showDialogInfo()" mat-stroked-button>{{'show.info.dialog' | translate}}</button>
			<button class="btn btn-default col2" (click)="showDialogConfirm()" mat-stroked-button>{{'show.confirmation.dialog' | translate}}</button>
			<button class="btn btn-default col3" (click)="showDialogError()" mat-stroked-button>{{'show.error.dialog' | translate}}</button>
			<button class="btn btn-default col4" (click)="showDialogCustom()" mat-stroked-button>{{'show.custom.dialog' | translate}}</button>
		</div>
	</div>
</div>
</div>