<div class="grid grid-cols-3">
	<div class="max-w-sm rounded overflow-hidden shadow-lg">
		<img class="mx-auto h-64" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/468px-Java_programming_language_logo.svg.png" alt="Sunset in the mountains">
		<div class="px-6 py-4">
		  <div class="font-bold text-xl mb-2">Java EE</div>
		  <p class="text-gray-700 text-base">
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
		  </p>
		</div>
		<div class="px-6 py-4">
		  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
		  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
		  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
		</div>
	 </div>

	 <div class="max-w-sm rounded overflow-hidden shadow-lg">
		<img class="mx-auto h-64" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1024px-Angular_full_color_logo.svg.png" alt="Sunset in the mountains">
		<div class="px-6 py-4">
		  <div class="font-bold text-xl mb-2">Angular</div>
		  <p class="text-gray-700 text-base">
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
		  </p>
		</div>
		<div class="px-6 py-4">
		  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
		  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
		  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
		</div>
	 </div>

	 <div class="max-w-sm rounded overflow-hidden shadow-lg">
		<img class="mx-auto h-64" src="/assets/tailwind.png" alt="Sunset in the mountains">
		<div class="px-6 py-4">
		  <div class="font-bold text-xl mb-2">Tailwind CSS</div>
		  <p class="text-gray-700 text-base">
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
		  </p>
		</div>
		<div class="px-6 py-4">
		  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
		  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
		  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
		</div>
	 </div>
</div>