<div class="slim-loading-bar">
	<div class="slim-loading-bar-progress" [style.width]="loadingProgress + '%'" [style.opacity]="show ? '1' : '0'">
	</div>
</div>
<div id="home-root" [class.sidebar-toggled]="minified">
	<nav class="navbar border-b border-blue-300">
		<button (click)="toggleMenu()">
			<i class="icon-menu"></i>
		</button>
		<a href="index.html">
			Countries
		</a>

		<button class="float-right" mat-button [matMenuTriggerFor]="menuUserProfile">
			<i class="icon-user"></i> {{username}}
			<i><span style="font-size: 12px; margin-left: 24px;">{{role}}</span></i>
		</button>
		<mat-menu #menuUserProfile="matMenu">
			<a mat-menu-item routerLink="user/{{userId}}" [queryParams]="{mode: 'profile'}"><i class="icon-user"></i>
				{{'user.profile' | translate}}</a>
			<button mat-menu-item (click)="logout()"><i class="icon-logout"></i> {{'logout' | translate}}</button>
		</mat-menu>

		<button class="float-right" mat-button [matMenuTriggerFor]="menuLanguage"><i class="icon-language"></i>
			{{lang.toUpperCase()}}</button>
		<mat-menu #menuLanguage="matMenu">
			<button mat-menu-item (click)="changeLanguage('en')"><i [style.visibility]="lang === 'id' ? 'hidden': ''"
					class="icon-check"></i> EN</button>
			<button mat-menu-item (click)="changeLanguage('id')"><i [style.visibility]="lang === 'en' ? 'hidden': ''"
					class="icon-check"></i> ID</button>
		</mat-menu>
	</nav>
	<ul class="sidebar" [class.toggled]="minified">
		<li class="pl-5 my-5">
			<a class="text-lg text-gray-600" routerLink="./" routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"><i class="icon-gauge text-blue-400"></i> <span
					class="sidebar-label"> {{'dashboard' | translate}}</span></a>
		</li>

		<li *ngIf="canReadCountry || canMaintainCountry" class="pl-5 my-1">
			<a class="text-sm text-gray-600" routerLink="country/" routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"><i class="icon-globe"></i> <span class="sidebar-label">
					{{'country' | translate}}</span></a>
		</li>
		<li *ngIf="canReadCity || canMaintainCity" class="pl-5 my-1">
			<a class="text-sm text-gray-600" routerLink="city/" routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"><i class="icon-location"></i> <span class="sidebar-label">
					{{'city' | translate}}</span></a>
		</li>
		<li class="pl-5 my-1">
			<a class="text-sm text-gray-600" routerLink="util/" routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"><i class="icon-wrench"></i> <span class="sidebar-label">
					{{'utility' | translate}}</span></a>
		</li>
		<li *ngIf="canReadUser || canReadRole" class="pl-5 my-1">
			<a class="text-sm text-gray-800 font-bold" href="#" (click)="menuClicked($event)">
				<i class="icon-address-book-o"></i> <span class="sidebar-label"> {{'management' | translate}} </span>
			</a>
			<ul class="pl-10 text-sm text-gray-600">
				<li *ngIf="canReadUser" class="my-1">
					<a class="hover:text-gray-800" routerLink="user/" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact: true}">{{'user' | translate}}</a>
				</li>
				<li *ngIf="canReadRole" class=" my-1">
					<a class="hover:text-gray-800" routerLink="role/" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact: true}">{{'role' | translate}}</a>
				</li>
			</ul>
		</li>
	</ul>
	<div id="page-wrapper">
		<router-outlet></router-outlet>
	</div>
	<b-alert *ngIf="message" [message]="message" (closed)="alertClosed()"></b-alert>

</div>