$header_height:51px;
$sidemenu_width:210px;

nav.navbar {
	position: fixed;
	background-color: white;
	top:0;
	width: 100%;
	z-index: 1000;
	/*padding:0*/
}

.sidebar {
	font-size: 1rem;
	position:fixed;
	left:0;
	width: $sidemenu_width;
	overflow-y: auto;
	height: calc(100vh - #{$header_height} - 40px);
	z-index: 100;
}

.sidebar.toggled {
    overflow: visible;
    width: 50px !important;
}

.sidebar::-webkit-scrollbar-thumb {
	background-color:white;
}

#page-wrapper {
	position:relative;
	margin-left: $sidemenu_width;
	background-color: white;
	padding: 1rem;
	padding-top: 0;
}

.sidebar-toggled #page-wrapper {
	margin-left: 50px;
}

.menu-kategori-0::after {
	content: '\f0c0';
}

.menu-kategori-1::after {
	content: '\f1c0';
}

.menu-kategori-2::after {
	content: "\f2c3";
}

#home-root {
	padding-top: $header_height;
}


.slim-loading-bar {
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999;
}

/* Styling for the Slim Loading Progress Bar itself */
.slim-loading-bar-progress {
	margin: 0;
	padding: 0;
	z-index: 99998;
	background-color: firebrick;
	/*background-color: #52aebc;*/
	color: firebrick;
	box-shadow: 0 0 10px 0; /* Inherits the font color */
	height: 4px;
	opacity: 0;

	/* Add CSS3 styles for transition smoothing */
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
