// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed');
// @import 'styles-variables';
// @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-action {
	@apply p-2 text-white rounded-lg w-10 h-10 mr-2;
}

.btn-action:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.btn-search {
	@apply bg-blue-500;
}

.btn-search:hover {
	@apply bg-blue-700;
}

.btn-add {
	@apply bg-green-500;
}

.btn-add:hover {
	@apply bg-green-700;
}

.btn-reload {
	@apply bg-teal-500;
}

.btn-reload:hover {
	@apply bg-teal-700;
}

.btn-export {
	@apply bg-yellow-500;
}

.btn-export:hover {
	@apply bg-yellow-700;
}

.btn-config {
	@apply bg-gray-500;
}

.btn-config:hover {
	@apply bg-gray-700;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #a0a0a0;
}

html,
body,
div {
	border: 0;
	margin: 0;
	padding: 0;
	// font-family: "IBM Plex Sans Condensed", sans-serif;
}

body {
	min-width: 950px;
	scrollbar-face-color: #a0a0a0;
	scrollbar-track-color: transparent;
}

.com-panemu {
	.mat-dialog-container {
		padding: 0;
	}

	.mat-dialog-title {
		padding: 16px;
	}
	.mat-dialog-content {
		margin: 0;
		margin-bottom: 20px;
	}

	.mat-dialog-actions {
		margin-bottom: 0;
		padding: 8px 16px;
	}
}

.col-form-label {
	text-align: right;
}

// .datatable-body-row {
// 	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
// }

// .datatable-body-cell,
// .datatable-header-cell {
// 	border-right: 1px solid rgba(0, 0, 0, 0.12);
// 	padding: 0.3rem 0.5rem !important;
// }

.ngx-datatable.single-selection .datatable-body-row.active,
.ngx-datatable.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.multi-selection .datatable-body-row.active,
.ngx-datatable.multi-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.multi-click-selection .datatable-body-row.active,
.ngx-datatable.multi-click-selection .datatable-body-row.active .datatable-row-group {
	background-color: #e5eaf6 !important;
}

// .ngx-datatable.material {
// 	box-shadow: none !important;
// 	border: 1px solid rgba(0, 0, 0, 0.12);
// }

table.table, .ngx-datatable {
	@apply text-sm;
}
.table tbody tr, .datatable-body-row {
	border-bottom: 1px solid #90cdf4;
}

.table thead tr, .datatable-header {
	border-bottom: 1px solid #90cdf4;
}

.table thead th, .datatable-header-cell {
	font-weight: 700;
	padding: 0 0.3rem;
}

.datatable-header-cell:hover {
	border-right: 1px solid #90cdf4;
}

.table tbody td, .datatable-body-cell {
	padding: 0.8rem 0.5rem !important;
}

.number-align {
	text-align: right !important;
}

.validation-message {
	position: absolute;
	color: #a94442;
	font-size: 80%;
	z-index: 1;
	top: 6px;
	right: 25px;
}

// .ng-valid.required,
// .ng-valid[required] {
// 	border-left: 5px solid #42a948;
// }

// .ng-invalid:not(form) {
// 	border-left: 5px solid #a94442;
// }


.alert {
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem
}

.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb
}

.alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb
}

.alert-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb
}


a i.toggle-expand:before {
	font-family: "fontello";
	font-style: normal;
	content: "\E80A";
}

a.collapsed i.toggle-expand:before {
	content: "\E806";
}

a i.toggle-expand2:before {
	content: "\f147";
}

a.collapsed i.toggle-expand2:before {
	content: "\f196";
}

.page-title {
	font-size: 1rem;
	font-weight: 700;
	/*color: #39abdd;*/
}

.grid-container {
	display: grid;
	// grid-template-columns: auto 1fr auto 100px;
	// grid-template-rows: auto auto auto;
	grid-gap: 10px 10px;
	align-items: center;

	label {
		margin-bottom: 0;
	}

	.row1 {
		grid-row: 1/2;
	}

	.row2 {
		grid-row: 2/3;
	}

	.row3 {
		grid-row: 3/4;
	}

	.row4 {
		grid-row: 4/5;
	}

	.row5 {
		grid-row: 5/6;
	}

	.row6 {
		grid-row: 6/7;
	}
	.row7 {
		grid-row: 7/8;
	}
	.row8 {
		grid-row: 8/9;
	}
	.row9 {
		grid-row: 9/10;
	}
	.row10 {
		grid-row: 10/11;
	}
	.row11 {
		grid-row: 11/12;
	}
	.row12 {
		grid-row: 12/13;
	}
	.row13 {
		grid-row: 13/14;
	}
	.row14 {
		grid-row: 14/15;
	}
	.row15 {
		grid-row: 15/16;
	}
	.row16 {
		grid-row: 16/17;
	}
	.row17 {
		grid-row: 17/18;
	}
	.row18 {
		grid-row: 18/19;
	}
	.row19 {
		grid-row: 19/20;
	}
	.row20 {
		grid-row: 20/21;
	}
	.row21 {
		grid-row: 21/22;
	}

	.col1 {
		grid-column: 1/2;
	}

	.col2 {
		grid-column: 2/3;
	}

	.col3 {
		grid-column: 3/4;
	}

	.col4 {
		grid-column: 4/5;
	}
	.col5 {
		grid-column: 5/6;
	}
	.col6 {
		grid-column: 6/7;
	}
	.col7 {
		grid-column: 7/8;
	}
	.col8 {
		grid-column: 8/9;
	}
	.col9 {
		grid-column: 9/10;
	}
	.col10 {
		grid-column: 10/11;
	}

	.col-span2 {
		grid-column-end: span 2;
	}

	.col-span3 {
		grid-column-end: span 3;
	}

	.col-span4 {
		grid-column-end: span 4;
	}

	.row-span2 {
		grid-row-end: span 2;
	}

	.cell-right {
		justify-self: end;
	}
}
button:focus {
	outline: none;
}
.mat-datepicker-toggle-default-icon {
	display: inline;
}