<div class="flex">
	<div class="flex-grow">
		<div>
			<h2 class="text-lg text-blue-400">{{'lst.country' | translate}}</h2>
			<span class="text-xs text-gray-500">
				{{'total' | translate}} : {{paginationObject.totalRows}}
			</span>
			<span *ngIf="searchLabel" class="text-xs text-gray-500">{{searchLabel}}</span>
		</div>
	</div>
	<div class="flex-grow-0">
		<button type="button" class="btn-action btn-search" title="{{'search' | translate}}" (click)="showSearch(pnlSearch)"><i class="icon-search"></i></button>
		<button *ngIf="canMaintain" class="btn-action btn-add" title="{{'add' | translate}}" (click)="add()"><i class="icon-plus"></i></button>
		<button class="btn-action btn-reload" type="button" title="{{'reload' | translate}}" (click)="reloadFirstPage()"><i class="icon-arrows-cw"></i></button>
		<button class="btn-action btn-export" title="{{'export' | translate}}" (click)="exportData()"><i class="icon-file-excel"></i></button>
		<p-table-helper [srvMasterData]="srvMasterData" [table]="myTable" (sort)="onSort($event)" [templateKey]="prefix" [rows]="tableData?.rows"></p-table-helper>
	</div>
</div>

<div class="mt-10">
	<ngx-datatable #myTable class="material" [rowHeight]="50" [style.height]="tableHeight" [scrollbarV]="true"
		[reorderable]="false" [scrollbarH]="true" [selected]="selected" [selectionType]="'single'"
		(select)="onSelect($event)" [externalSorting]="true"
		(activate)="rowActivate($event, tableRowMenuTrigger)">
		<ngx-datatable-column prop="{{'number' | translate}}" [sortable]="false">
			<ng-template let-rowIndex='rowIndex' ngx-datatable-cell-template>
				{{rowIndex + 1 + paginationObject.startIndex}}
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column prop="name" name="{{criteria.name.label | translate}}"></ngx-datatable-column>
		<ngx-datatable-column prop="capital" name="{{criteria.capital.label | translate}}"></ngx-datatable-column>
		<ngx-datatable-column prop="continent" name="{{criteria.continent.label | translate}}"></ngx-datatable-column>
		<ngx-datatable-column prop="independence" name="{{criteria.independence.label | translate}}">
			<ng-template let-value="value" ngx-datatable-cell-template>
				{{value | date}}
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column prop="population" [cellClass]="'number-align'" name="{{'population' | translate}}">
			<ng-template let-value="value" ngx-datatable-cell-template>
				{{value | number:'.0-2'}}
			</ng-template>
		</ngx-datatable-column>
	</ngx-datatable>
</div>
<div class="float-right">
	<p-pagination [paginationObject]="paginationObject" (reload)="reload()" class="ml1"></p-pagination>
</div>

<span class="text-xs text-gray-500"><span style="color:red;">* </span>{{'disclaimer' | translate}} </span>

<ng-template #pnlSearch>
	<h1 mat-dialog-title>{{'search' | translate}}</h1>
	<div mat-dialog-content>
		<div class="grid grid-cols-2 gap-1">
			<div>
				<mat-form-field>
					<mat-label>{{criteria.name.label | translate}}</mat-label>
					<input [(ngModel)]="criteria.name.value" (keyup)="textChange($event)" matInput>
				</mat-form-field>
				<br>
				<mat-form-field>
					<mat-label>{{criteria.capital.label | translate}}</mat-label>
					<input [(ngModel)]="criteria.capital.value" (keyup)="textChange($event)" matInput>
				</mat-form-field>
				<br>
				<mat-form-field>
					<mat-label>{{criteria.continent.label | translate}}</mat-label>
					<input [(ngModel)]="criteria.continent.value" (keyup)="textChange($event)" matInput>
				</mat-form-field>
				<br>
				<mat-form-field>
					<mat-label>{{criteria.independence.label | translate}}</mat-label>
					<input [(ngModel)]="criteria.independence.value" (keyup)="textChange($event)" matInput
						placeholder="yyyy-mm-dd">
				</mat-form-field>
				<br>
				<mat-form-field>
					<mat-label>{{criteria.population.label | translate}}</mat-label>
					<input [(ngModel)]="criteria.population.value" (keyup)="textChange($event)" matInput>
				</mat-form-field>

			</div>
			<div>
				<span class="text-xs font-bold">Search example:</span>
				<ul class="text-sm text-blue-400 pl-3 list-disc">
					<li><a [routerLink]="['../', {name:'in% | mal%'}]">Country begin with "in" or "mal"</a></li>
					<li><a [routerLink]="['../', {name:'t% %tan'}]">Country begin with "T" and ended with "tan"</a></li>
					<li><a [routerLink]="['../', {population:'..1000000'}]">Population less than a million</a></li>
					<li><a [routerLink]="['../', {population:'100000000..'}]">Population more than a hundred millions</a>
					</li>
					<li><a [routerLink]="['../', {independence:'1991-1-1..1991-12-31'}]">Gain independence in 1991</a></li>
					<li><a [routerLink]="['../', {independence:'1991-1-1..1991-12-31', continent:'Asia'}]">Asia and gain
							independence in 1991</a></li>
					<li><a [routerLink]="['../', {capital:'NULL'}]">Has no capital data</a></li>
					<li><a [routerLink]="['/home/help']" target="_blank">more information</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div mat-dialog-actions align="center">
		<button [mat-dialog-close] (click)="reloadFirstPage()" mat-stroked-button>{{'search' | translate}}</button>
	</div>
</ng-template>

<button [matMenuTriggerFor]="tableRowMenu" #tableRowMenuTrigger="matMenuTrigger" class="" id="btnRowMenuTrigger" style="position: fixed; top: -50px;"> 
</button>
<mat-menu #tableRowMenu="matMenu">
	<button (click)="edit()" mat-menu-item>{{'edit' | translate}}</button>
	<button (click)="deleteSelected()" mat-menu-item>{{'delete' | translate}}</button>
 </mat-menu>