<h2 mat-dialog-title>{{'country'| translate}}</h2>
<div mat-dialog-content>
	<form #myForm="ngForm">
		<div *ngIf="model" class="modal-body">
			<!--<div *ngIf="model">-->
			<mat-form-field>
				<mat-label>{{'country.name'| translate}}</mat-label>
				<input matInput [(ngModel)]="model.name" name="name" required maxlength="255" minlength="4" cdkFocusInitial>
				<mat-error>{{formErrors.name?.key | translate:formErrors.name?.param}}</mat-error>
			</mat-form-field>
			<mat-form-field class="ml-2">
				<mat-label>{{'capital.city.name'| translate}}</mat-label>
				<input matInput [(ngModel)]="model.capital" name="capital">
			</mat-form-field>
			<br>
			<mat-form-field>
				<mat-label>{{'continent.name'| translate}}</mat-label>
				<!-- <p-typeahead  [(ngModel)]="model.continent" name="continent"> -->
				<select matNativeControl [(ngModel)]="model.continent" name="continent">
					<option *ngFor="let item of lstContinent" [value]="item">{{item}}</option>
				</select>
				<!-- </p-typeahead> -->
			</mat-form-field>
			<mat-form-field class="ml-2">
				<mat-label>{{'population'| translate}}</mat-label>
				<input matInput [(ngModel)]="model.population" type="number" name="population">
			</mat-form-field>
			<br>
			<mat-form-field>
				<mat-label>{{'independence.date'| translate}}</mat-label>
				<string-date-picker placeholder="Tanggal ye" [(ngModel)]="model.independence" (ngModelChange)="logDate()" name="independence">
				</string-date-picker>
			</mat-form-field>
		</div>

	</form>
</div>
<div mat-dialog-actions align="center">
	<button mat-raised-button color="primary" (click)="submit()"
		[disabled]="!myForm.form.valid || saving">{{'save'| translate}}</button>
	<button mat-button (click)="close()">{{'close'| translate}}</button>
	<button mat-button (click)="showPopup()">{{'show.popup'| translate}}</button>
</div>

