<div >
	<h2 class="text-lg text-blue-400">{{'city' | translate}}</h2>
</div>

<div *ngIf="model" class="mt-10" align="center">
	<form (ngSubmit)="onSubmit(myForm.controls)" #myForm="ngForm">
		<mat-form-field>
			<mat-label>{{'continent' | translate}}</mat-label>
			<select matNativeControl [(ngModel)]="continent" name="continent" (ngModelChange)="getLstCountry()">
				<option value=""></option>
				<option *ngFor="let item of lstContinent" [value]="item">{{item}}</option>
			</select>
		</mat-form-field>
		<br>
		<mat-form-field>
			<mat-label>{{'country' | translate}}</mat-label>
			<select matNativeControl [(ngModel)]="model.countryId" required name="countryId">
				<option value=""></option>
				<option *ngFor="let item of lstCountry" [value]="item.id">{{item.name}}</option>
			</select>
				<mat-error>{{ formErrors.countryId?.key | translate:formErrors.countryId?.param}}</mat-error>
		</mat-form-field>
		<br>
		<mat-form-field>
			<mat-label>{{'city.name' | translate}}</mat-label>
				<input matInput [(ngModel)]="model.name" name="name" required maxlength="255" minlength="4">
				<mat-error>{{ formErrors.name?.key | translate:formErrors.name?.param}}</mat-error>
		</mat-form-field>
		<div>
			<button type="submit" mat-raised-button color="primary" [disabled]="!myForm.form.valid || saving">{{'save' | translate}}</button>
			<a mat-button style="margin-left: 0.5rem;" routerLink="../">{{'back' | translate}}</a>
		</div>
	</form>
</div>
