<div class="flex">
	<div class="flex-grow">
		<div>
			<h2 class="text-lg text-blue-400">{{'lst.city' | translate}}</h2>
			<span class="text-xs text-gray-500">
				{{'total' | translate}} : {{paginationObject.totalRows}}
			</span>
			<span *ngIf="searchLabel" class="text-xs text-gray-500">{{searchLabel}}</span>
		</div>
	</div>
	<div class="flex-grow-0">
		<button type="button" class="btn-action btn-search" title="{{'search' | translate}}" (click)="showSearch(pnlSearch)"><i class="icon-search"></i></button>
		<a *ngIf="canMaintain" type="button" class="btn-action btn-add" title="{{'add' | translate}}" routerLink="0"><i class="icon-plus"></i></a>
		<button class="btn-action btn-reload" type="button" title="{{'reload' | translate}}" (click)="reloadFirstPage()"><i class="icon-arrows-cw"></i></button>
		<button class="btn-action btn-export" title="{{'export' | translate}}" (click)="exportData()"><i class="icon-file-excel"></i></button>
		<p-table-helper [srvMasterData]="srvMasterData" [table]="myTable" (sort)="onSort($event)" [templateKey]="prefix" [rows]="tableData?.rows"></p-table-helper>
	</div>
</div>

<div class="mt-10">
	<ngx-datatable #myTable [style.height]="tableHeight" [rowHeight]="50" [reorderable]="false" [scrollbarV]="true"
		[scrollbarH]="true" [selected]="selected" [selectionType]="'single'" (select)="onSelect($event)"
		[externalSorting]="true"
		(activate)="rowActivate($event, tableRowMenuTrigger)">
		<ngx-datatable-column prop="{{'number' | translate}}" [sortable]="false">
			<ng-template let-rowIndex='rowIndex' ngx-datatable-cell-template>
				{{rowIndex + 1 + paginationObject.startIndex}}
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column prop="name" name="{{criteria.name.label | translate}}"></ngx-datatable-column>
		<ngx-datatable-column prop="countryName" name="{{criteria.country.label | translate}}"></ngx-datatable-column>
		<ngx-datatable-column prop="continent" name="{{criteria.continent.label | translate}}"></ngx-datatable-column>
	</ngx-datatable>
</div>

<div class="float-right">
	<p-pagination [paginationObject]="paginationObject" (reload)="reload()"></p-pagination>
</div>

<span class="text-xs text-gray-500"><span style="color:red;">* </span>{{'disclaimer' | translate}} </span>
<ng-template #pnlSearch>
	<h1 mat-dialog-title>{{'search' | translate}}</h1>
	<div mat-dialog-content>
		<mat-form-field>
			<mat-label>{{criteria.continent.label | translate}}</mat-label>
			<select matNativeControl [(ngModel)]="criteria.continent.value" (ngModelChange)="getLstCountryByContinent()" name="continent">
				<option value=""></option>
				<option *ngFor="let item of lstContinent" [value]="item">{{item}}</option>
			</select>
		</mat-form-field>
		<br>
		<mat-form-field>
			<mat-label>{{criteria.country.label | translate}}</mat-label>
			<select matNativeControl [(ngModel)]="criteria.country.value" name="country">
				<option value=""></option>
				<option *ngFor="let item of lstCountry" [value]="item.id">{{item.name}}</option>
			</select>
		</mat-form-field>
		<br>
		<mat-form-field>
			<mat-label>{{criteria.name.label | translate}}</mat-label>
			<input matInput [(ngModel)]="criteria.name.value" (keyup)="textChange($event)">
		</mat-form-field>
	</div>
	<div mat-dialog-actions align="center">
		<button [mat-dialog-close] (click)="reloadFirstPage()" mat-stroked-button>{{'search' | translate}}</button>
	</div>
</ng-template>

<button [matMenuTriggerFor]="tableRowMenu" #tableRowMenuTrigger="matMenuTrigger" class="" id="btnRowMenuTrigger" style="position: fixed; top: -50px;"> 
</button>
<mat-menu #tableRowMenu="matMenu">
	<button (click)="edit()" mat-menu-item>{{'edit' | translate}}</button>
	<button (click)="deleteSelected()" mat-menu-item>{{'delete' | translate}}</button>
 </mat-menu>