// @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed");

// @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #a0a0a0;
}

html,
body,
div {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: "IBM Plex Sans Condensed", sans-serif;
}

header.header {
	border-bottom: 1px solid #e5e5e5;
}
p {
	margin-bottom: 1rem;
}

body {
	scrollbar-face-color: #a0a0a0;
	scrollbar-track-color: transparent;
}

button,
.btn {
	border-color: #d2d6dc;
	@apply py-1 px-3 border bg-gray-100 rounded-sm text-sm font-medium text-gray-700;
}

button:hover:enabled,
.btn:hover:enabled,
a.btn:hover {
	@apply bg-gray-200;
}

button:focus:enabled,
.btn:focus:enabled {
	box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
	@apply outline-none border-blue-300;
}

button:active:enabled,
.btn:active:enabled {
	@apply bg-gray-100;
}

button:disabled,
.btn:disabled,
input:disabled {
	opacity: 0.5;
	cursor: default;
}

.btn-danger {
	@apply bg-red-100 border-red-700 text-red-700;
}

.btn-danger:hover:enabled {
	@apply bg-red-200;
}

.btn-danger:active:enabled {
	@apply bg-red-100;
}

.btn-primary {
	@apply bg-blue-100 border-blue-700 text-blue-700;
}

.btn-primary:hover:enabled {
	@apply bg-blue-200;
}

.btn-primary:active:enabled {
	@apply bg-blue-100;
}

.btn-sm {
	padding: 2px 0.5rem;
	font-size: 0.75rem;
	border-radius: 0.2rem;
	line-height: 1rem;
}

label {
	font-size: 0.875rem;
	@apply font-bold;
}

@screen md {
	label {
		@apply font-normal;
	}
}

.btn-action {
	@apply p-2 text-white rounded-lg h-10 w-full block border-none;
}

@screen lg {
	.btn-action {
		@apply inline-block w-10;
	}
}

.btn-action:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.btn-search {
	@apply bg-blue-500;
}

.btn-search:hover {
	@apply bg-blue-700;
}

.btn-add {
	@apply bg-green-500;
}

.btn-add:hover {
	@apply bg-green-700;
}

.btn-reload {
	@apply bg-indigo-500;
}

.btn-reload:hover {
	@apply bg-indigo-700;
}

.btn-export {
	@apply bg-yellow-500;
}

.btn-export:hover {
	@apply bg-yellow-700;
}

.btn-config {
	@apply bg-gray-500;
}

.btn-config:hover {
	@apply bg-gray-700;
}

.com-panemu {
	.mat-dialog-container {
		padding: 0;
	}

	.mat-dialog-title {
		padding: 16px;
	}
	.mat-dialog-content {
		margin: 0;
	}

	.mat-dialog-actions {
		margin-bottom: 0;
		padding: 8px 16px;
	}
}

.form-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #ffffff;
	border-color: #d2d6dc;
	border-width: 1px;
	border-radius: 0.125rem;
	padding-top: 0.2rem;
	padding-right: 0.3rem;
	padding-bottom: 0.2rem;
	padding-left: 0.3rem;
	font-size: 0.875rem;
}

.form-input::-moz-placeholder {
	color: #9fa6b2;
	opacity: 1;
}

.form-input:-ms-input-placeholder {
	color: #9fa6b2;
	opacity: 1;
}

.form-input::placeholder {
	color: #9fa6b2;
	opacity: 1;
}

.form-input:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
	border-color: #a4cafe;
}

.form-select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3e%3cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
	background-repeat: no-repeat;
	background-color: #ffffff;
	border-color: #d2d6dc;
	border-width: 1px;
	border-radius: 0.125rem;
	padding-top: 0.2rem;
	padding-right: 2.5rem;
	padding-bottom: 0.2rem;
	padding-left: 0.3rem;
	background-position: right 0.5rem center;
	background-size: 1.5em 1.5em;
	font-size: 0.875rem;
}

.form-select::-ms-expand {
	color: #9fa6b2;
	border: none;
}

@media not print {
	.form-select::-ms-expand {
		display: none;
	}
}

@media print and (-ms-high-contrast: active), print and (-ms-high-contrast: none) {
	.form-select {
		padding-right: 0.75rem;
	}
}

.form-select:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
	border-color: #a4cafe;
}

.form-group {
	margin-bottom: 1.5rem;
	position: relative;
}
@screen md {
	.form-group {
		@apply flex items-center;
	}
	#page-wrapper {
		border-left: 1px solid #e5e5e5;
	}
}

//---------------------------------------------------------------
.datatable-body-row {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.datatable-body-cell,
.datatable-header-cell {
	border-right: 1px solid rgba(0, 0, 0, 0.12);
	padding: 0.3rem 0.5rem !important;
}

.ngx-datatable.material.single-selection .datatable-body-row.active,
.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active,
.ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
	background-color: #e5eaf6 !important;
}

.number-align {
	text-align: right !important;
}

.validation-message {
	position: absolute;
	color: #a94442;
	font-size: 0.75rem;
	z-index: 1;
}

.ng-valid.required,
.ng-valid[required] {
	border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
	border-left: 5px solid #a94442;
}

a i.toggle-expand:before {
	font-family: "fontello";
	font-style: normal;
	content: "\E80A";
}

a.collapsed i.toggle-expand:before {
	content: "\E806";
}

a i.toggle-expand2:before {
	content: "\f147";
}

a.collapsed i.toggle-expand2:before {
	content: "\f196";
}

.ribbon {
	padding: 0.25rem 1rem;
	border-bottom: 1px solid #e5e5e5;
	align-items: center;
	@apply bg-gray-100;
}

.page-title {
	@apply text-gray-700 ml-6  items-center text-lg;
	/*color: #39abdd;*/
}

.ngx-datatable.material {
	box-shadow: none !important;
	border: 1px solid rgba(0, 0, 0, 0.12);
}

/*.hoverDiv {background: #fff;}*/
.hoverDiv:hover {
	background: #f5f5f5;
}

.search-cue {
	font-size: 0.8rem;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 0 5px;
	border-radius: 2px;
}

.card {
	padding: 1rem;
	// box-shadow: 1px 2px 5px #888;
	@apply border rounded-md shadow-lg bg-white;
}

.card-header {
	border-bottom: none;
	@apply text-gray-400 text-sm pb-4;
}
.card-body {
	// border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.mat-datepicker-toggle-default-icon {
	display: inline;
}
