<div class="h-screen md:h-auto flex-1 flex flex-col overflow-hidden md:block md:overflow-auto">
	<div class="ribbon flex">
		<div class="page-title md:ml-2">{{'access.right' | translate}}</div>
	</div>
	<div class="flex-1 overflow-x-hidden overflow-y-auto p-4" *ngIf="model">
		<form (ngSubmit)="onSubmit(myForm.controls)" #myForm="ngForm">
			<div class="w-full max-w-sm">


				<div class="form-group">
					<div class="md:w-1/2">
						<label>{{'access.right.name' | translate}}</label>
					</div>
					<div class="md:w-1/2">
						<input class="form-input" [(ngModel)]="model.name" name="name" required maxlength="20" minlength="4">
						<div *ngIf="formErrors.name" class="validation-message">{{ formErrors.name.key | translate:formErrors.name.param}}
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="md:w-1/2">
						<label>{{'access.right.desc' | translate}}</label>
					</div>
					<div class="md:w-1/2">
						<input class="form-input w-full" [(ngModel)]="model.description" name="description" required maxlength="255" minlength="4">
						<div *ngIf="formErrors.description" class="validation-message">{{ formErrors.description.key | translate:formErrors.description.param}}
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-2">
				<div class="card-header">{{'lst.permission' | translate}}</div>
				<div class="card-body">
					<div class="container">
						<div *ngFor="let item of model.permissionList" class="flex hoverDiv">
							<div class="md:w-1/3">
								{{item.permission}}
							</div>
							<div class="md:w-1/3">
								{{item.description}}
							</div>
							<div class="md:w-1/3">
								<input class="form-check-input" type="checkbox" [(ngModel)]="item.selected" [ngModelOptions]="{standalone: true}">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="">
					<button type="submit" class="btn" [disabled]="!myForm.form.valid || saving">{{'save' | translate}}</button>
					<a class="btn ml-2" routerLink="../" type="button">{{'back' | translate}}</a>
				</div>
			</div>
		</form>
	</div>
</div>
