<div class="login-page animate">
	<div class="md:grid md:grid-cols-3">
		<div></div>
		<div class="col-md-4 offset-md-4 header">
			<h2>COUNTRIES</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 offset-sm-4">
			<br>
			<p><span style="color:red;">*</span>username & password: hellocountry</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 offset-sm-4">
			<form (ngSubmit)="login($event, username.value, password.value)">
				<div class="form-content">
					<div class="text-center mb-8">
						<input type="text" #username class="input-underline input-lg" placeholder="Username">
					</div>

					<div class="text-center mb-8">
						<input type="password" #password class="input-underline input-lg" placeholder="Password">
					</div>

					<label>{{errormsg}}</label>
					<i [style.visibility]="requesting ? '' : 'hidden'" class="icon-cog animate-spin"></i>
				</div>
				<button type="submit" class=" btn rounded-btn" >{{'login' | translate}} </button>
			</form>
		</div>	
	</div>
</div>