
.login-page {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	text-align: center;
	color: #fff;
	padding: 2em; 
	background: url(assets/bg4.jpg);
	background-size: 100% 100%;
}
.login-page .col-lg-4 {
	padding: 0; }
.login-page a {
	cursor: pointer; }
.login-page .input-lg {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px !important;
	line-height: 1.3333333;
	border-radius: 0; }

.login-page .input-underline {
	background: 0 0;
	border: none;
	box-shadow: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	color: #FFF;
	border-radius: 0; }
.login-page .input-underline:focus {
	border-bottom: 2px solid #fff;
	box-shadow: none; }
.login-page .rounded-btn {
	-webkit-border-radius: 50px;
	border-radius: 50px;
	color: rgba(255, 255, 255, 0.8);
	background: rgba(255, 255, 255, 0.1);
	border: 2px solid rgba(255, 255, 255, 0.8);
	font-size: 18px;
	line-height: 40px;
	text-shadow: none;
	padding: 0 25px; }
.login-page .rounded-btn:hover, .login-page .rounded-btn:focus, .login-page .rounded-btn:active, .login-page .rounded-btn:visited {
	color: white;
	border: 2px solid white;
	outline: none; }
.login-page h1 {
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 36px; }
.login-page h1 small {
	color: rgba(255, 255, 255, 0.7); }
.login-page .form-group input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6) !important; }
.login-page .form-group input:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(255, 255, 255, 0.6) !important; }
.login-page .form-group input::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(255, 255, 255, 0.6) !important; }
.login-page .form-group input:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.6) !important; }
.login-page .form-content {
	padding: 1em 0; }

.header {
	background: url(assets/mapss.jpg) no-repeat 0px -55px;
	display: block;
	min-height: 150px;
	padding: 3em 0 0;
	text-align: center;
}

.header h2 {
	background-color: #2e2855;
	opacity: 0.6;
	font-size: 2rem;
	padding: 10px 0;
	font-weight: 700;
}