<div class="slim-loading-bar">
	<div class="slim-loading-bar-progress" [style.width]="loadingProgress + '%'" [style.opacity]="show ? '1' : '0'">
	</div>
</div>
<div class="flex h-screen text-gray-800 font-roboto" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
	<div class="flex" [class.main-menu-collapsed]="main_menu_collapsed">
		<div [ngClass]="{'fixed z-20 inset-0 bg-black opacity-50 transition-opacity md:hidden' : true, 'hidden':!mobileMenuShow, 'block':mobileMenuShow}" (click)="mobileMenuShow = !mobileMenuShow"></div>
		<div id="side-menu" [ngClass]="{'-translate-x-full ease-in':!mobileMenuShow, 'translate-x-0 ease-out':mobileMenuShow,'fixed z-30 bg-gray-100 inset-y-0 left-0 transition duration-300 transform overflow-y-auto md:translate-x-0 md:static md:inset-0':true}">
			<div class="logo">
				<img src="assets/country_web_logo.png" class="mt-4 px-8">
			</div>
			<nav class="" (click)="mobileMenuShow = !mobileMenuShow">
				<a matRipple  routerLink="./" class="menu-item"><i class="icon-gauge"></i><span>Dashboard</span></a>
				<div class="menu-category">
					<a [appExpandable]="!main_menu_collapsed" class="menu-category-trigger"><i class="icon-globe"></i><span>Data</span></a>
					<div class="menu-category-content">
						<a routerLink="./country/" class="menu-item" matRipple><i class="icon-globe"></i><span>Country</span></a>
						<a routerLink="./city/" class="menu-item" matRipple><i class="icon-location"></i><span>City</span></a>
					</div>
				</div>
				<div class="menu-category">
					<a [appExpandable]="!main_menu_collapsed" class="menu-category-trigger"><i class="icon-globe"></i><span>Management</span></a>
					<div class="menu-category-content">
						<a routerLink="./user/" class="menu-item" matRipple><i class="icon-location"></i><span>User</span></a>
						<a routerLink="./role/" class="menu-item" matRipple><i class="icon-location"></i><span>Role</span></a>
					</div>
				</div>
				<a routerLink="./util/" class="menu-item" matRipple><i class="icon-location"></i><span>Util and Example</span></a>

				<a (click)="logout()" class="menu-item" matRipple><i class="icon-logout"></i><span>Logout</span></a>
			</nav>
		</div>
	</div>
	<button (click)="mobileMenuShow = !mobileMenuShow" class="fixed z-10 top-1 left-1 text-gray-700 border-none bg-transparent focus:outline-none block md:hidden">
		<i class="icon-menu"></i>
	</button>
	<div class="flex-1 flex flex-col overflow-hidden">
		<header class="header justify-between items-center py-4 p-right-6 bg-gray-100 hidden md:flex">
			<div class="flex">
				<button class="btn rounded-r-none" (click)="main_menu_collapsed=!main_menu_collapsed"><i class="icon-menu"></i></button>
				<div class="relative mx-4 md:mx-0"><span class="absolute inset-y-0 left-0 pl-3 flex items-center"><svg class="h-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">
							<path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</span>
					<input class="border -ml-1 rounded-sm rounded-l-none leading-8 w-32 sm:w-64 pr-4 focus:border-indigo-600" type="text" placeholder="Search" style="padding-left: 2.5rem; border-color: #d2d6dc;">
				</div>
			</div>
			<div class="flex items-center"><button class="flex mx-4 text-gray-600 focus:outline-none"><svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15 17H20L18.5951 15.5951C18.2141 15.2141 18 14.6973 18 14.1585V11C18 8.38757 16.3304 6.16509 14 5.34142V5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5V5.34142C7.66962 6.16509 6 8.38757 6 11V14.1585C6 14.6973 5.78595 15.2141 5.40493 15.5951L4 17H9M15 17V18C15 19.6569 13.6569 21 12 21C10.3431 21 9 19.6569 9 18V17M15 17H9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg></button>
				<div class="relative"><button class="relative z-10 block h-8 w-8 rounded-full overflow-hidden shadow focus:outline-none"><img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1528892952291-009c663ce843?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=296&amp;q=80" alt="Your avatar"></button>
					<div class="fixed inset-0 h-full w-full z-10" style="display: none;"></div>
					<div class="absolute right-0 mt-2 py-2 w-48 bg-white rounded-md shadow-xl z-20" style="display: none;"><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white">Profile</a><a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white">Products</a><a href="/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white">Log
							out</a></div>
				</div>
			</div>
		</header>
		<main id="page-wrapper" class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-50">
			<router-outlet (activate)="onActivate($event)"></router-outlet>
		</main>
	</div>
	<b-alert *ngIf="message" [message]="message" (closed)="alertClosed()"></b-alert>
</div>