.slim-loading-bar {
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999;
}

/* Styling for the Slim Loading Progress Bar itself */
.slim-loading-bar-progress {
	margin: 0;
	padding: 0;
	z-index: 99998;
	background-color: firebrick;
	/*background-color: #52aebc;*/
	color: firebrick;
	box-shadow: 0 0 10px 0; /* Inherits the font color */
	height: 4px;
	opacity: 0;

	/* Add CSS3 styles for transition smoothing */
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.text-shadow {
	text-shadow: 0 1px 1px #000;
}

.menu-item,
.menu-category-trigger {
	@apply flex items-center mt-4 px-4 text-gray-600 duration-200 transition-colors leading-9;
	span {
		@apply ml-2 w-full;
	}
}

.menu-item:hover,
.menu-category-trigger:hover {
	@apply bg-gray-500 text-gray-100;
}

.menu-category-trigger::after {
	font-family: Fontello;
	content: "\f105";
	float: right;
	@apply duration-300 ease-in-out transform;
}

.menu-category-trigger.expanded::after {
	@apply rotate-90;
}

.menu-category-content {
	overflow: hidden;
	transition: height 0.3s ease-out;
	height: 0;
	background-color: rgba(255,255,255, 0.5);
}
#side-menu {
	width: 16rem;

	.logo {
		@apply flex items-center justify-center;
	}
}

@screen md {
	.main-menu-collapsed {
		#side-menu {
			width: 4rem;
			overflow: visible;
			padding-top: 4rem;
			.logo {
				display: none;
			}
		}
		
		.menu-item {
			// position: relative;
		}
		.menu-category-trigger > span {
			display: none;
		}

		.menu-item > span {
			display: none;
		}

		.menu-category-content > .menu-item > span {
			display: block;
		}

		:not(.menu-category-content) > .menu-item:hover > span,
		.menu-category:hover > .menu-category-trigger > span {
			display: block;
			position: absolute;
			width: 12rem;
			left: 3rem;
			padding-left: 1rem;
			z-index: 500;
			@apply bg-gray-300 shadow-lg;
		}
		.menu-category-content {
			padding: 0;
		}
		.menu-category:hover > .menu-category-content {
			display: block;
			position: absolute;
			width: 12rem;
			left: 3.5rem;
			z-index: 500;
			height: auto;
			padding-bottom: 1rem;
			@apply bg-gray-100 shadow-lg;
		}
		
	}

}