<div>
	<div appDragDrop (onFileDropped)="addNewAssets($event)">
		<label class="absolute text-teal-500">
				<i class="icon-plus"></i> <input class="form-control" type="file" (change)="addNewAssets($event.target.files)" hidden multiple>
		</label>
		<div class="col-md-10">
				<table class="table">
			<thead>
				<tr>
					<th>File <span class="label-desc">Klik untuk download</span></th>
					<th>Ukuran</th>
					<th>Keterangan</th>
					<th *ngIf="!readonly">Hapus</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let asset of assetManager.persistedAssets; let rowNum=index">
					<td><a class="underline" href="{{apiUrl}}asset/{{asset.category}}/{{asset.path}}?id={{asset.id}}"
							target="blank">{{asset.filename}}</a></td>
					<td>
						{{asset.size | fileSize}}
					</td>
					<td>
							<input class="border-b border-b-2 border-teal-500" placeholder="Masukkan keterangan"
								[(ngModel)]="asset.description" maxlength="1000" [readOnly]="readonly">
					</td>
					<td *ngIf="!readonly" class="text-center">
						<button type="button" class="btn bg-transparent text-danger" title="Hapus"
							(click)="markDeleteAsset(asset)"><i class="icon-trash-empty"></i></button>
					</td>
				</tr>
				<tr *ngFor="let item of assetManager.assetsToUpload; let rowNum=index">
					<td>
						<span *ngIf="item.file"> {{item.file.name}}</span>
					</td>
					<td>{{item.file ? (item.file.size | fileSize) : '' }}</td>
					<td>
							<input type="text" class="border-b border-b-2 border-teal-500" maxlength="1000"
								placeholder="Masukkan keterangan" [(ngModel)]="item.description">
					</td>
					<td class="text-center"><button type="button" class="btn bg-transparent text-danger"
							title="Hapus" (click)="deleteUnsavedAsset(item)"><i
								class="icon-trash-empty"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	</div>
</div>