.mat-dialog-content {
	max-width: 50vw;
}

.mat-dialog-actions {
	 justify-content: flex-end;
	 background-color: #f7f7f7;
	 border-top: 1px solid #dfdfdf;
}

button {
	min-width: 60px;
}

/*:host {
	color: grey;
}*/