<h2 mat-dialog-title [class]="titleClass">
		<i *ngIf="data.type == 0" class="icon-info-circled"></i>
		<i *ngIf="data.type == 1" class="icon-attention"></i>
		<i *ngIf="data.type == 2" class="icon-block"></i>
	{{data.title}}
</h2>
<div mat-dialog-content>
	<p [innerHtml]="data.content"></p>
</div>
<div mat-dialog-actions>
  <button (click)="close('yes')" cdkFocusInitial mat-button >{{data.yesLabel}}</button>
  <button *ngIf="data.noLabel" (click)="close('no')" mat-button >{{data.noLabel}}</button>
  <button *ngIf="data.cancelLabel" (click)="close('cancel')" mat-button >{{data.cancelLabel}}</button>
</div>