<div class="btn-group p-pagination mr-1">
	<button type="button" title="{{'first.page' | translate}}" class="text-blue-400" (click)="first()" [disabled]="disablePrev"><i class="icon-angle-double-left"></i></button>
	<button type="button" title="{{'previous' | translate}}" class="text-blue-400" (click)="prev()" [disabled]="disablePrev"><i class="icon-angle-left"></i></button>
	<select [(ngModel)]="page"  (ngModelChange)="resetPage()" class="text-blue-400 bg-blue-100 rounded"  [disabled]="paginationObject.totalRows === 0">
		<option  *ngFor="let number of lstPage">{{number + 1}}</option>
	</select>
	<button type="button" title="{{'next' | translate}}" class="text-blue-400" (click)="next()" [disabled]="disableNext"><i class="icon-angle-right"></i></button>
	<button type="button" title="{{'last.page' | translate}}" class="text-blue-400" (click)="last()" [disabled]="disableNext"><i class="icon-angle-double-right"></i></button>
</div>
