<button type="button" class="btn-action btn-config" (click)="toggleOpen(cmpTableHelper)"><i class="icon-cog"></i>
</button>
<ng-template #cmpTableHelper>
	<h2 class="p-3 text-lg">{{'table.setting'| translate}}</h2>
	<div *ngIf="savedColumns" class="pnlTableConfig" style="display: inline-block;">
		<div class="px-3 flex">
			<div class="">
				<mat-checkbox class="text-sm" [(ngModel)]="allChecked" (change)="toggleAll()">
					{{'show.all' | translate}}</mat-checkbox>
				<a [style.visibility]="!selected || selected == savedColumns[savedColumns.length - 1] ? 'hidden': ''"
					(click)="down()" class="float-right text-xs"><i class="icon-down-big"></i></a>
				<a [style.visibility]="!selected || selected == savedColumns[0] ? 'hidden': ''" (click)="up()"
					class="float-right text-xs"><i class="icon-up-big"></i>&nbsp;</a>
				<ul class="list-column">
					<li *ngFor="let clm of savedColumns; let rowNum=index" [class.selected]="selected == clm"
						(click)="selected = clm" class="pl-2">
						<!-- <input type="checkbox" (click)="toggle(rowNum)" [checked]="clm.visible"> -->
						<mat-checkbox [(ngModel)]="clm.visible" (change)="toggle(rowNum)"></mat-checkbox>
						<label class="text-sm"> {{clm.name.trim()}}&nbsp;</label>
					</li>
				</ul>
			</div>
			<div *ngIf="srvMasterData" class="pl-6 w-full">
				<label class="text-sm">Templates:</label>
					<div *ngFor="let us of lstTemplate;" class="flex">
						<div class="flex-grow"><a class="text-sm cursor-pointer" (click)="loadTemplate(us.name)">{{us.name}}</a></div>
						<div class="flex-grow-0"><a (click)="removeTemplate(us.name)"
								title="Remove template"><i class="icon-trash-empty text-red-600 text-xs"></i></a></div>
					</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="mt-3 grid grid-cols-3">
			<button (click)="close()" mat-button>{{'close' | translate }}</button>
			<button *ngIf="srvMasterData" (click)="showSaveDialog()" mat-button>{{'save.template' | translate }}</button>
			<button (click)="reset()" mat-button>{{'reset' | translate}}</button>
		</div>
	</div>
</ng-template>