.wrapper {
	display: block;

}

:host::ng-deep button[mat-icon-button] {
	height: 1.5em;
	width: 1.5em;
	font: inherit;
	position: absolute;
	right: 0;
}

:host::ng-deep svg {
	width: 1em;
}



:host::ng-deep input {
	display: inline-block;
}

