<div class="modal-content">
	<div class="modal-header"><h4 class="modal-title"> {{'country'| translate}}</h4></div>
	<form class="p-4" #myForm="ngForm">
		<div *ngIf="model" class="modal-body">
			
				<div class="form-group">
					<div class="md:w-1/3">
						<label>{{'country.name'| translate}}</label>
					</div>
					<div class="md:w-2/3">
						<input class="form-input" [(ngModel)]="model.name" name="name" required maxlength="255" minlength="4" cdkFocusInitial>
						<div *ngIf="formErrors.name" class="validation-message">{{formErrors.name.key | translate:formErrors.name.param}}</div>
					</div>
				</div>
				<div class="form-group">
					<div class="md:w-1/3">
						<label>{{'capital.city.name'| translate}}</label>
					</div>
					<div class="md:w-2/3">
						<input class="form-input" [(ngModel)]="model.capital" name="capital">
					</div>
				</div>
				<div class="form-group">
					<div class="md:w-1/3">
						<label>{{'continent.name'| translate}}</label>
					</div>
					<div class="md:w-2/3">
						<p-typeahead  [(ngModel)]="model.continent" name="continent">
							<select class="form-select w-2/3">
								<option *ngFor="let item of lstContinent" [value]="item">{{item}}</option>
							</select>
						</p-typeahead>
					</div>
				</div>
				<div class="form-group">
					<div class="md:w-1/3">
						<label class="col-sm-5 col-form-label">{{'independence.date'| translate}}</label>
					</div>
					<div class="md:w-2/3">
						<string-date-picker  [(ngModel)]="model.independence" name="independence"></string-date-picker>
					</div>
				</div>
				<div class="form-group">
					<div class="md:w-1/3">
						<label>{{'population'| translate}}</label>
					</div>
					<div class="md:w-2/3">
						<input class="form-input" [(ngModel)]="model.population" type="number" name="population">
					</div>
				</div>
			
		</div>
		<div class="modal-footer" align="center" >
			<button class="btn btn-primary" (click)="submit()" [disabled]="!myForm.form.valid || saving">{{'save'| translate}}</button>
			<button class="btn ml-2" (click)="close()">{{'close'| translate}}</button>
		</div>
	</form>
</div>