<div class="h-screen md:h-auto flex-1 flex flex-col overflow-hidden md:block md:overflow-auto">
	<div class="ribbon flex">
		<div class="page-title flex-grow md:ml-2">
			{{'lst.country' | translate}}
			<span class="text-xs text-gray-500">
				{{'total.rows' | translate}} : {{paginationObject.totalRows}}
			</span>
			<span *ngIf="searchLabel" class="text-xs text-gray-500">{{searchLabel}}</span>
		</div>
		
		<div class="flex-grow-0 block md:hidden">
			<button class="text-gray-700 border-none bg-transparent" (click)="showMenu=!showMenu">
				<i class="icon-menu"></i>
			</button>
		</div>
		<div [ngClass]="{'fixed z-20 inset-0 bg-black opacity-50 transition-opacity md:hidden' : true, 'hidden':!showMenu, 'block':showMenu}" (click)="showMenu = !showMenu">
		</div>
		<div (click)="showMenu=false" [ngClass]="{'translate-y-full ease-in':!showMenu, 'translate-y-0 ease-out':showMenu, 'z-30 fixed bottom-0 duration-300 transform md:space-x-1 md:translate-y-0 md:flex md:static md:flex-grow-0': true}">
			<button type="button" class="btn-action btn-search" title="{{'search' | translate}}" (click)="showSearch(pnlSearch)"><i class="icon-search"></i> <span class="md:hidden">{{'search' | translate}}</span></button>
			<button *ngIf="canMaintain" type="button" class="btn-action btn-add" title="{{'add' | translate}}" (click)="add()"><i class="icon-plus"></i> <span class="md:hidden">{{'add' | translate}}</span></button>
			<button *ngIf="canMaintain && !noRowSelected" class="btn-action btn-reload btn-search" type="button" title="{{'edit' | translate}}" (click)="edit()"><i class="icon-pencil"></i> <span class="md:hidden">{{'edit' | translate}}</span></button>
			<button *ngIf="canMaintain && !noRowSelected" class="btn-action btn-reload btn-search" type="button" title="{{'delete' | translate}}" (click)="deleteSelected()"><i class="icon-trash-empty"></i> <span class="md:hidden">{{'delete' | translate}}</span></button>
			<button class="btn-action btn-reload btn-search" type="button" title="{{'reload' | translate}}" (click)="reloadFirstPage()"><i class="icon-arrows-cw"></i> <span class="md:hidden">{{'reload' | translate}}</span></button>
			<button class="btn-action btn-export btn-search" title="{{'export' | translate}}" (click)="exportData()"><i class="icon-file-excel"></i> <span class="md:hidden">{{'export' | translate}}</span></button>
			<p-table-helper [srvMasterData]="srvMasterData" [table]="myTable" (sort)="onSort($event)" [templateKey]="prefix" [rows]="tableData?.rows"><span class="md:hidden">{{'configure' | translate}}</span></p-table-helper>
		</div>
	</div>
	
	<div class="flex-1 overflow-x-hidden overflow-y-auto">
		<div class="p-4">
			<ngx-datatable #myTable class="material" [style.height]="tableHeight"
				[reorderable]="false"
				[scrollbarV]="true"
				[scrollbarH]="true"
				[selected]="selected"
				[selectionType]="'single'"
				(select)="onSelect($event)"
				[externalSorting]="true">
				<ngx-datatable-column prop="{{'number' | translate}}" [sortable]="false">
					<ng-template let-rowIndex='rowIndex' ngx-datatable-cell-template>
						{{rowIndex + 1 + paginationObject.startIndex}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column prop="name" name="{{criteria.name.label | translate}}"></ngx-datatable-column>
				<ngx-datatable-column prop="capital" name="{{criteria.capital.label | translate}}"></ngx-datatable-column>
				<ngx-datatable-column prop="continent" name="{{criteria.continent.label | translate}}"></ngx-datatable-column>
				<ngx-datatable-column prop="independence" name="{{criteria.independence.label | translate}}">
					<ng-template let-value="value" ngx-datatable-cell-template>
						{{value | date}}
					</ng-template>
				</ngx-datatable-column>
				<ngx-datatable-column prop="population" [cellClass]="'number-align'" name="{{'population' | translate}}">
					<ng-template let-value="value" ngx-datatable-cell-template>
						{{value | number:'.0-2'}}
					</ng-template>
				</ngx-datatable-column>
			</ngx-datatable>
		</div>
		<div class="float-right mr-4">
			<p-pagination [paginationObject]="paginationObject" (reload)="reload()"></p-pagination>
		</div>
	</div>
</div>

<ng-template #pnlSearch>
	<h1 mat-dialog-title>{{'search' | translate}}</h1>
	<div mat-dialog-content>
		
		<div class="md:flex md:w-screen md:max-w-screen-md">
			<div class="md:w-1/2">

				<div class="form-group">
					<div class="md:w-1/3">
						<label>{{criteria.name.label | translate}}</label>
					</div>
					<div class="md:w-2/3">
						<input [(ngModel)]="criteria.name.value" (keyup)="textChange($event)" class="form-input">
					</div>
				</div>

				<div class="form-group">
					<div class="md:w-1/3">
						<label>{{criteria.capital.label | translate}}</label>
					</div>
					<div class="md:w-2/3">
						<input [(ngModel)]="criteria.capital.value" (keyup)="textChange($event)" class="form-input">
					</div>
				</div>

				<div class="form-group">
					<div class="md:w-1/3">
						<label>{{criteria.continent.label | translate}}</label>
					</div>
					<div class="md:w-2/3">
						<input [(ngModel)]="criteria.continent.value" (keyup)="textChange($event)" class="form-input">
					</div>
				</div>

				<div class="form-group">
					<div class="md:w-1/3">
						<label>{{criteria.independence.label | translate}}</label>
					</div>
					<div class="md:w-2/3">
						<input [(ngModel)]="criteria.independence.value" (keyup)="textChange($event)" class="form-input" placeholder="yyyy-mm-dd">
					</div>
				</div>

				<div class="form-group">
					<div class="md:w-1/3">
						<label>{{criteria.population.label | translate}}</label>
					</div>
					<div class="md:w-2/3">
						<input  [(ngModel)]="criteria.population.value" (keyup)="textChange($event)" class="form-input">
					</div>
				</div>

			</div>
			<div class="md:w-1/2">
				<span>Search example:</span>
				<ul>
					<li><a [routerLink]="['./', {name:'in% | mal%'}]">Country begin with "in" or "mal"</a></li>
					<li><a [routerLink]="['./', {name:'t% %tan'}]">Country begin with "T" and ended with "tan"</a></li>
					<li><a [routerLink]="['./', {population:'..1000000'}]">Population less than a million</a></li>
					<li><a [routerLink]="['./', {population:'100000000..'}]">Population more than a hundred millions</a></li>
					<li><a [routerLink]="['./', {independence:'1991-1-1..1991-12-31'}]">Gain independence in 1991</a></li>
					<li><a [routerLink]="['./', {independence:'1991-1-1..1991-12-31', continent:'Asia'}]">Asia and gain independence in 1991</a></li>
					<li><a [routerLink]="['./', {capital:'NULL'}]">Has no capital data</a></li>
					<li><a [routerLink]="['/home/help']">more information</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div mat-dialog-actions align="center">
		<button [mat-dialog-close] (click)="reloadFirstPage()" class="btn">{{'search' | translate}}</button>
	</div>
</ng-template>