<div class="h-screen md:h-auto flex-1 flex flex-col overflow-hidden md:block md:overflow-auto">
	<div class="ribbon flex">
		<div class="page-title md:ml-2">{{'city' | translate}}</div>
	</div>
	<div class="flex-1 overflow-x-hidden overflow-y-auto p-4" *ngIf="model">
		<form class="w-full max-w-sm" (ngSubmit)="onSubmit(myForm.controls)" #myForm="ngForm">

			<div class="form-group">
				<div class="md:w-1/3">
					<label>{{'continent' | translate}}</label>
				</div>
				<div class="md:w-2/3">
					<select class="form-select" [(ngModel)]="continent" name="continent" (ngModelChange)="getLstCountry()">
						<option value=""></option>
						<option *ngFor="let item of lstContinent" [value]="item">{{item}}</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="md:w-1/3">
					<label>{{'country' | translate}}</label>
				</div>
				<div class="md:w-2/3">
					<select class="form-select" [(ngModel)]="model.countryId" required name="countryId">
						<option value=""></option>
						<option *ngFor="let item of lstCountry" [value]="item.id">{{item.name}}</option>
					</select>
					<div *ngIf="formErrors.countryId"
						class="validation-message">{{ formErrors.countryId.key | translate:formErrors.countryId.param}}</div>
				</div>
			</div>

			<div class="form-group">
				<div class="md:w-1/3">
					<label>{{'city.name' | translate}}</label>
				</div>
				<div class="md:w-2/3">
					<input class="form-input" [(ngModel)]="model.name" name="name" required maxlength="255" minlength="4">
					<div *ngIf="formErrors.name"
						class="validation-message">{{ formErrors.name.key | translate:formErrors.name.param}}</div>
				</div>
			</div>

			<div class="form-group">
				<div class="">
					<button type="submit" class="btn" [disabled]="!myForm.form.valid || saving">{{'save' | translate}}</button>
					<a class="btn ml-2" routerLink="../" type="button">{{'back' | translate}}</a>
				</div>
			</div>
		</form>
	</div>
</div>