<div>
	<h2 class="text-lg text-blue-400">{{'user' | translate}}</h2>
</div>

<div *ngIf="model" class="mt-10">
	<form (ngSubmit)="onSubmit(myForm.controls)" #myForm="ngForm">
		<mat-form-field>
			<mat-label>{{'access.right' | translate}}</mat-label>
			<select matNativeControl [(ngModel)]="model.role" name="idRole" required [disabled]="mySelf">
				<option value=""></option>
				<option *ngFor="let item of lstRole" [value]="item.name">{{item.name}}</option>
			</select>
			<mat-error>{{ formErrors.idRole?.key | translate:formErrors.idRole?.param}}</mat-error>
		</mat-form-field>
		<br>
		<mat-form-field>
			<mat-label >{{'user.name' | translate}}</mat-label>
			<input matInput [(ngModel)]="model.username" name="username" required maxlength="255" minlength="4" [disabled]="!insertMode">
			<mat-error>{{ formErrors.username?.key | translate:formErrors.username?.param }}</mat-error>
		</mat-form-field>
		<br>
		<mat-form-field>
			<mat-label>{{'email' | translate}}</mat-label>
			<input matInput [(ngModel)]="model.email" name="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" maxlength="255" required>
			<mat-error>{{ formErrors.email?.key | translate:formErrors.email?.param }}</mat-error>
		</mat-form-field>
		<hr>
		<div *ngIf="!insertMode" class="form-group">
			<span class="text-xs text-gray-500">{{'leave.password.empty' | translate}}</span>
			<br>
			<span *ngIf="model.username == 'hellocountry'" class="text-xs text-gray-500"><span style="color:red;">* </span>{{'hellocountry.user.cannot.change.the.password' | translate}}</span>
		</div>
		<mat-form-field>
			<mat-label>{{'password' | translate}}</mat-label>
			<input matInput [disabled]="model.username == 'hellocountry'" type="password" [(ngModel)]="model.password" name="password" [required]="insertMode" maxlength="25" minlength="4">
			<mat-error>{{ formErrors.password?.key | translate:formErrors.password?.param}}</mat-error>
		</mat-form-field>
		<mat-form-field class="ml-5">
			<mat-label>{{'retype.password' | translate}}</mat-label>
			<input matInput [disabled]="model.username == 'hellocountry'" type="password" [(ngModel)]="password2" name="password2" [required]="insertMode" maxlength="25" minlength="4">
			<mat-error>{{ formErrors.password2?.key | translate:formErrors.password2?.param}}</mat-error>
		</mat-form-field>
		<hr>
		<div class="mt-5">
			<label class="text-xs text-gray-600">Foto Profil</label>
			<div class="flex">
				<div class="flex-initial border-solid border border-gray-400 flex justify-center items-center" style="min-width: 6rem; min-height: 6rem;">
					<label for="fileInput">
						<img style="max-width:300px;" [src]="picUrl">
					</label>
				</div>
				<button type="button" class="text-red-500 flex-initial"
					title="Hapus" (click)="deleteAsset()"><i
						class="icon-trash-empty"></i></button>
				<br/>
				<input id="fileInput" type='file' (change)="onSelectFile($event)" hidden>
			</div>
		</div>
		
		<div class="mt-5">
			<label class="text-xs text-gray-600">KTP</label>
			<div class="flex items-center">
				<div class="flex-initial border-solid border border-gray-400 flex justify-center items-center" style="min-width: 6rem; min-height: 6rem;">
					<label for="fileInput2">
						<img style="max-width:300px;" [src]="ktpUrl">
					</label>
				</div>
				<button type="button" class="text-red-500 flex-initial"
					title="Hapus" (click)="deleteAsset('ktp')"><i
						class="icon-trash-empty"></i></button>
				<br/>
				<input id="fileInput2" type='file' (change)="onSelectFile($event, 'ktp')" hidden>
			</div>
		</div>

		<div class="mt-5">
			<label class="text-xs text-gray-600">Asset</label>
			<div class="">
				<cmp-asset-manager [assetManager]="assetManager"></cmp-asset-manager>
			</div>
		</div>

		<div class="mt-10 flex">
			<button type="submit" mat-raised-button color="primary" [disabled]="!myForm.form.valid || saving">{{'save' | translate}}</button>
			<div class="ml-3">
				<a *ngIf="!profileMode" type="button" mat-button routerLink="../">{{'back' | translate}}</a>
			</div>
		</div>
	</form>
</div>