<div class="h-screen md:h-auto flex-1 flex flex-col overflow-hidden md:block md:overflow-auto">
	<div class="ribbon flex">
		<div class="page-title flex-grow md:ml-2">{{'utility' | translate}}</div>
	</div>

	<div class="p-4 flex-1 overflow-x-hidden overflow-y-auto">
		<div class="card mb-3">
			<div class="card-header">{{'request.indicator' | translate}}</div>
			<div class='card-body'>
				<button *ngIf="requestIndicatorClicked == false" class="btn" (click)="showRequestIndicator()">{{'show' | translate}}</button>
				<button *ngIf="requestIndicatorClicked == true" class="btn" (click)="hideRequestIndicator()">{{'hide' | translate}}</button>
			</div>
		</div>
		<div class="card mb-3">
			<div class="card-header">{{'alert.controller' | translate}}</div>
			<div class='card-body flex flex-col space-y-2 md:block md:space-x-4'>
				<button class="btn" (click)="showAlertSuccess()">{{'show.alert.success' | translate}}</button>
				<button class="btn" (click)="showAlertDanger()">{{'show.alert.danger' | translate}}</button>
				<button class="btn" (click)="showAlertWarning()">{{'show.alert.warning' | translate}}</button>
				<button class="btn" (click)="showAlertInfo()">{{'show.alert.info' | translate}}</button>
			</div>
		</div>
		<div class="mb-3">
			<div class="card">
				<div class="card-header">{{'error.handling' | translate}}</div>
				<div class='card-body flex flex-col space-y-2 md:block md:space-x-4'>
					<button class="btn" (click)="errorNoParam()">{{'error.no.param' | translate}}</button>
					<button class="btn" (click)="errorWithParam()">{{'error.with.param' | translate}}</button>
					<button class="btn" (click)="unexpectedError()">{{'unexpected.error' | translate}}</button>
					<button class="btn" (click)="unauthorizedError()">{{'unauthorized.error' | translate}}</button>
				</div>
			</div>
			<div class="card mt-3">
				<div class="card-header">{{'popup.dialog' | translate}}</div>
				<div class='card-body flex flex-col space-y-2 md:block md:space-x-4'>
					<button class="btn" (click)="showDialogInfo()">{{'show.info.dialog' | translate}}</button>
					<button class="btn" (click)="showDialogConfirm()">{{'show.confirmation.dialog' | translate}}</button>
					<button class="btn" (click)="showDialogError()">{{'show.error.dialog' | translate}}</button>
					<button class="btn" (click)="showDialogCustom()">{{'show.custom.dialog' | translate}}</button>
					<button class="btn" (click)="showDialogCustom2()">{{'show.custom.dialog' | translate}} 2</button>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">Button Size and Kind</div>
			<div class="flex flex-wrap items-center">
				<button type="button" class="btn m-2">Default</button>
				<button type="button" class="m-2 btn btn-primary">Primay</button>
				<button type="button" class="m-2 btn btn-danger">Danger</button>
				<button type="button" class="m-2 btn btn-sm">Default</button>
				<button type="button" class="m-2 btn btn-sm btn-primary">Primary</button>
				<button type="button" class="m-2 btn btn-sm btn-danger">Danger</button>
			</div>
			<div class="card-header mt-3">Disabled Buttons</div>
			<div class="flex flex-wrap items-center space-x-2 space-y-2">
				<button type="button" class="btn" disabled>Default</button>
				<button type="button" class="btn btn-primary" disabled>Primay</button>
				<button type="button" class="btn btn-danger" disabled>Danger</button>
				<button type="button" class="btn btn-sm" disabled>Default</button>
				<button type="button" class="btn btn-sm btn-primary" disabled>Primary</button>
				<button type="button" class="btn btn-sm btn-danger" disabled>Danger</button>
			</div>

		</div>
	</div>
</div>